{% load static %}
<section class="places" id="places">
       <div class="heading">
           <h1>Seek the most<br>alluring location.</h1>
       </div>
       <div class="places-container">

           <div class="box">
               <div class="place-img">
                   <img src="{% static 'images/intramuros.jpg' %}" alt="#"></img>
               </div>
               <div class="place-text">
                   <h2>Intramuros</h2>
               </div>
             <a href="/intramuros"><i class='bx bx-right-arrow-alt place-icon'></i></a>
           </div>

           <div class="box">
               <div class="place-img">
                   <img src="{% static 'images/chocolatehills.jpg' %}" alt="#"></img>
               </div>
               <div class="place-text">
                   <h2>Chocolate Hills</h2>
               </div>
             <a href="/chocolate_hills"><i class='bx bx-right-arrow-alt place-icon'></i></a>
           </div>

           <div class="box">
               <div class="place-img">
                   <img src="{% static 'images/mayon.jpg' %}" alt="#"></img>
               </div>
               <div class="place-text">
                   <h2>Mayon Volcano</h2>
               </div>
             <a href="/mayon_volcano" ><i class='bx bx-right-arrow-alt place-icon'></i></a>
           </div>
       </div>
 </section>