{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Intramuros History</title>
    <style>
        /* Basic styling for the page */
        body {
            font-family: sans-serif;
            margin: 20px;
        }
        h1, h2 {
            text-align: center;
        }
        img {
            max-width: 500px;
            margin: 20px auto;
            display: block;
        }
        p {
            text-align: justify;
        }
    </style>
</head>
<body>

    <h1>History of Intramuros</h1>

    <p>
        Intramuros, also known as the Walled City, is a historic district located within the city of **Manila**,
        Philippines. It is situated along the **Pasig River** and encompasses an area of approximately 0.67 square kilometers.
        <br><br>
        **Visitor Experiences:**
        <ul>
            <li>**Historical Exploration:** Explore the remnants of Spanish colonial architecture, including forts, churches, and convents.</li>
            <li>**Cultural Immersion:** Immerse yourself in Philippine history and culture by visiting museums, art galleries, and historical sites.</li>
            <li>**Peaceful Walks:** Enjoy leisurely walks along the cobblestone streets and admire the historic buildings.</li>
            <li>**Fort Santiago:** Visit Fort Santiago, a historic fortress with a poignant history, and explore its dungeons and museums.</li>
            <li>**Manila Cathedral:** Admire the architectural beauty of Manila Cathedral, a significant religious landmark.</li>
        </ul>
        <br><br>
        Founded in 1571 by Spanish conquistador Miguel López de Legazpi, it served as the seat of Spanish colonial power in the Philippines for over 300 years.
        <br><br>
        The city was meticulously planned and fortified with thick stone walls, moats, and bastions to protect it from attacks.
        <br><br>
        Intramuros was the center of religious, political, and economic life during the Spanish colonial period. It housed government offices, churches, convents, schools, and residences of the Spanish elite.
        <br><br>
        The city experienced significant damage during World War II, but extensive restoration efforts have brought back much of its former grandeur. Today, Intramuros is a popular tourist destination, offering visitors a glimpse into the Philippines' rich colonial past.
    </p>
    <img src="{% static 'images/intramuros.jpg' %}" alt="#">
</body>
</html>